$header-height : 54px;
$bg-dark-color: #333;
$white-color: #fff;
$white-gray-color: #aaa;


$white-gray : #ccc;
$white-gray-hover: #aaa;

$white-gray-darken-1: #aaa;
$white-gray-darken-1-hover: #888;
